In [1]:
import pandas as pd
import numpy as np

test_data = pd.read_csv('test.csv')
data = pd.read_csv('train.csv')

test_data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Zoya,Female,49.0,Jaipur,Working Professional,Pilot,NaN,3.0,NaN,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes
93796,234496,Shlok,Male,29.0,Ahmedabad,Working Professional,Pilot,NaN,5.0,NaN,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes
93797,234497,Rishi,Male,24.0,Visakhapatnam,Student,NaN,1.0,NaN,7.51,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No
93798,234498,Eshita,Female,23.0,Kalyan,Working Professional,Marketing Manager,NaN,4.0,NaN,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes
93799,234499,Gauri,Female,43.0,Varanasi,Working Professional,Educational Consultant,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No

# **Cleaning data**

### Gender mapping

In [2]:
test_data['Gender'].value_counts()

test_data['Gender'] = test_data['Gender'].map({'Male': 0, 'Female': 1})

### Age mapping

In [3]:
test_data.Age.value_counts()
#All good here

Age
56.00    3432
49.00    3425
38.00    3008
53.00    2958
57.00    2875
47.00    2740
46.00    2728
18.00    2614
59.00    2551
54.00    2549
51.00    2544
43.00    2506
48.00    2459
20.00    2335
45.00    2329
50.00    2311
24.00    2296
42.00    2295
28.00    2292
39.00    2279
44.00    2242
29.00    2152
41.00    2093
33.00    2057
58.00    1982
25.00    1953
40.00    1950
35.00    1940
21.00    1930
55.00    1923
23.00    1870
37.00    1789
34.00    1785
36.00    1742
19.00    1731
27.00    1719
60.00    1701
52.00    1687
31.00    1660
22.00    1417
26.00    1362
30.00    1361
32.00    1227
32.08       1
Name: count, dtype: int64

### City mapping

In [4]:
# Using target encoding with cross-validation
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Create a copy of the city values from the training data
city_values = test_data['City'].copy()

# Create a dictionary to hold the city encoding from the training data
city_encoding = {}

# Fit the KFold on the training data
for train_idx, val_idx in kf.split(data):
    # Calculate the mean depression value for each city in the training set
    city_encoding.update(data.iloc[train_idx].groupby('City')['Depression'].mean().to_dict())

# Map the city encoding to the test data
city_values = test_data['City'].map(city_encoding)

# Assign the encoded values back to the test data
test_data['City'] = city_values

# Fill NaN values with the mean of the depression values from the training data
test_data['City'] = test_data['City'].fillna(data['Depression'].mean())

### Working professional or student mapping

In [5]:
working_mapping = {
    'Student': 0,
    'Working Professional': 1
}
test_data['Working Professional or Student'] = test_data['Working Professional or Student'].map(working_mapping)

### Profession mapping

In [6]:
# Using target encoding with cross-validation
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Create a copy of the city values from the training data
city_values = test_data['Profession'].copy()

# Create a dictionary to hold the city encoding from the training data
city_encoding = {}

# Fit the KFold on the training data
for train_idx, val_idx in kf.split(data):
    # Calculate the mean depression value for each city in the training set
    city_encoding.update(data.iloc[train_idx].groupby('Profession')['Depression'].mean().to_dict())

# Map the city encoding to the test data
city_values = test_data['Profession'].map(city_encoding)

# Assign the encoded values back to the test data
test_data['Profession'] = city_values

# Fill NaN values with the mean of the depression values from the training data
test_data['Profession'] = test_data['Profession'].fillna(data['Depression'].mean())

### Academic pressure mapping

In [7]:
test_data['Academic Pressure'].value_counts()
#All good here

Academic Pressure
3.0    4930
5.0    4321
4.0    3551
1.0    3252
2.0    2713
Name: count, dtype: int64

### Work pressure mapping

In [8]:
test_data['Work Pressure'].value_counts()
#All good here

Work Pressure
2.0    16255
5.0    15113
4.0    14974
3.0    14650
1.0    14030
Name: count, dtype: int64

### CGPA mapping

In [9]:
test_data.CGPA.value_counts()
#All good here

CGPA
8.04    540
5.74    316
8.95    272
9.96    257
9.21    253
       ...
5.50      1
9.08      1
6.09      1
5.92      1
5.78      1
Name: count, Length: 326, dtype: int64

### Study Satisfaction mapping

In [10]:
test_data["Study Satisfaction"].value_counts()
#All good here

Study Satisfaction
4.0    4175
3.0    3880
2.0    3838
1.0    3805
5.0    3069
Name: count, dtype: int64

### Job Satisfaction mapping

In [11]:
test_data["Job Satisfaction"].value_counts()
#All good here

Job Satisfaction
2.0    16971
5.0    14827
1.0    14793
3.0    14464
4.0    13971
Name: count, dtype: int64

### Sleep duration mapping

In [12]:

#Sleep duration mapping
sleep_mapping = {
    'Less than 5 hours': 4,
    '5-6 hours': 5.5,
    '7-8 hours': 7.5,
    'More than 8 hours': 9
}
test_data['Sleep Duration'] = test_data['Sleep Duration'].map(lambda x: x if x in sleep_mapping.keys() else np.nan)
test_data['Sleep Duration'] = test_data['Sleep Duration'].map(sleep_mapping)
test_data['Sleep Duration'] = test_data['Sleep Duration'].fillna(test_data['Sleep Duration'].median())

### Family history of mental illness mapping

In [13]:
test_data["Family History of Mental Illness"].value_counts()
dict_family_history = {
    'No': 0,
    'Yes': 1
}
test_data["Family History of Mental Illness"] = test_data["Family History of Mental Illness"].map(dict_family_history)
# Korras

### Financial stress mapping

In [14]:
test_data["Financial Stress"].value_counts()
#All good here

Financial Stress
2.0    21151
5.0    18694
4.0    18453
1.0    18341
3.0    17161
Name: count, dtype: int64

### Work/Study hours mapping

In [15]:
test_data["Work/Study Hours"].value_counts()
#All good here

Work/Study Hours
10.0    9450
11.0    8555
9.0     8315
0.0     8132
12.0    7657
2.0     7083
6.0     7029
7.0     6646
1.0     6525
3.0     6261
5.0     6118
4.0     6079
8.0     5950
Name: count, dtype: int64

### Have you ever had suicidal thoughts mapping

In [16]:
test_data["Have you ever had suicidal thoughts ?"].value_counts()
dict_suicidal_thoughts = {
    'No': 0,
    'Yes': 1
}
test_data["Have you ever had suicidal thoughts ?"] = test_data["Have you ever had suicidal thoughts ?"].map(dict_suicidal_thoughts)

### Degree mapping

In [17]:
# First calculate target means from training data
target_means = data["Degree"].copy()

# Calculate global mean from training data
global_mean = data['Depression'].mean()  # Add this line

# Apply encoding to test data
test_data_encoded = test_data.copy()
rare_degrees = test_data["Degree"].value_counts()[test_data["Degree"].value_counts() <= 20].index
# Remove rare degrees from test data (same as training)
test_data = test_data[~test_data["Degree"].isin(rare_degrees)]

# Map the degrees using training data means
test_data_encoded['Degree_encoded'] = test_data['Degree'].map(target_means)

# Fill missing values with global mean from training data
test_data_encoded['Degree_encoded'].fillna(global_mean, inplace=True)

# Clean up columns
test_data_encoded.drop('Degree', axis=1, inplace=True)
test_data_encoded = test_data_encoded.rename(columns={'Degree_encoded': 'Degree'})

test_data = test_data_encoded.copy()

/var/folders/1s/n8gj006x063cbj_n6p23fhxc0000gn/T/ipykernel_75986/424805334.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data_encoded['Degree_encoded'].fillna(global_mean, inplace=True)
/var/folders/1s/n8gj006x063cbj_n6p23fhxc0000gn/T/ipykernel_75986/424805334.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data_encoded['Degree_encoded'].fillna(global_mean, inplace=True)

### Dietary habits mapping

In [18]:
rare = test_data["Dietary Habits"].value_counts()[test_data["Dietary Habits"].value_counts() <= 20].index

# print(len(data))
test_data = test_data[~test_data["Dietary Habits"].isin(rare)]

# print("Shape before removing rare degrees:", len(data))
# print("\nDietary Habits removed:", list(rare_degrees))
test_data = pd.get_dummies(test_data, columns=['Dietary Habits'])

# Dropping columns

In [19]:
test_data.drop(columns=['id'], inplace=True)
test_data.drop(columns=['Name'], inplace=True)

# Final preprocessed data

In [20]:
preprocessed_data = test_data.copy()
preprocessed_data.to_csv('preprocessed_test_data.csv', index=False)

In [21]:
preprocessed_data.head(50)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Degree,Dietary Habits_Healthy,Dietary Habits_Moderate,Dietary Habits_Unhealthy
0,0,53.0,0.164615,1,0.109318,NaN,2.0,NaN,NaN,5.0,4.0,0,9.0,3.0,1,0.181713,False,True,False
1,1,58.0,0.173027,1,0.076039,NaN,2.0,NaN,NaN,4.0,4.0,0,6.0,4.0,0,0.181713,False,True,False
2,0,53.0,0.184677,1,0.057067,NaN,4.0,NaN,NaN,1.0,7.5,1,12.0,4.0,0,0.181713,False,True,False
3,1,23.0,0.169834,0,0.181713,5.0,NaN,6.84,1.0,NaN,9.0,1,10.0,4.0,0,0.181713,False,True,False
4,0,47.0,0.195089,1,0.057067,NaN,5.0,NaN,NaN,5.0,7.5,1,3.0,4.0,0,0.181713,False,True,False
5,0,29.0,0.134601,1,0.044335,NaN,2.0,NaN,NaN,3.0,9.0,0,3.0,2.0,1,0.181713,False,True,False
6,0,47.0,0.164615,1,0.057067,NaN,1.0,NaN,NaN,1.0,4.0,0,10.0,3.0,1,0.181713,True,False,False
7,1,28.0,0.134601,1,0.044335,NaN,5.0,NaN,NaN,3.0,7.5,1,0.0,2.0,0,0.181713,True,False,False
8,1,21.0,0.204960,0,0.181713,1.0,NaN,7.39,3.0,NaN,4.0,0,8.0,1.0,1,0.181713,True,False,False
9,0,21.0,0.184677,1,0.181713,NaN,5.0,NaN,NaN,1.0,4.0,1,10.0,4.0,0,0.181713,True,False,False
10,0,45.0,0.212892,1,0.030659,NaN,4.0,NaN,NaN,2.0,5.5,0,5.0,2.0,1,0.181713,False,False,True
11,0,44.0,0.192940,1,0.019735,NaN,1.0,NaN,NaN,4.0,5.5,0,4.0,4.0,1,0.181713,False,True,False
12,0,48.0,0.216826,1,0.048831,NaN,3.0,NaN,NaN,1.0,4.0,0,4.0,3.0,0,0.181713,False,True,False
13,0,18.0,0.164615,1,0.181713,NaN,5.0,NaN,NaN,2.0,5.5,1,0.0,2.0,0,0.181713,False,True,False
14,1,45.0,0.134601,1,0.104806,NaN,5.0,NaN,NaN,4.0,5.5,1,6.0,1.0,1,0.181713,True,False,False
15,1,29.0,0.240795,1,0.058394,NaN,2.0,NaN,NaN,5.0,7.5,0,10.0,1.0,0,0.181713,True,False,False
16,0,52.0,0.137131,1,0.043080,NaN,3.0,NaN,NaN,3.0,7.5,1,4.0,2.0,0,0.181713,True,False,False
17,0,34.0,0.212892,1,0.057067,NaN,1.0,NaN,NaN,1.0,9.0,0,6.0,3.0,0,0.181713,False,False,True
18,1,49.0,0.142730,1,0.030659,NaN,4.0,NaN,NaN,2.0,7.5,0,9.0,3.0,0,0.181713,False,True,False
19,0,28.0,0.216826,0,0.181713,5.0,NaN,6.03,3.0,NaN,7.5,0,11.0,3.0,1,0.181713,False,True,False
20,1,26.0,0.196575,0,0.181713,3.0,NaN,8.63,5.0,NaN,9.0,1,10.0,4.0,1,0.181713,False,True,False
21,0,32.0,0.164615,0,0.181713,3.0,NaN,8.61,1.0,NaN,4.0,1,11.0,5.0,0,0.181713,False,True,False
22,1,41.0,0.195612,1,0.104806,NaN,1.0,NaN,NaN,1.0,5.5,0,7.0,3.0,1,0.181713,False,True,False
23,0,42.0,0.143753,1,0.041765,NaN,2.0,NaN,NaN,3.0,7.5,1,1.0,2.0,1,0.181713,False,False,True
24,1,25.0,0.184677,0,0.181713,5.0,NaN,6.73,2.0,NaN,7.5,1,2.0,3.0,0,0.181713,False,True,False
25,1,49.0,0.204960,1,0.057067,NaN,2.0,NaN,NaN,5.0,4.0,1,4.0,4.0,0,0.181713,False,False,True
26,0,43.0,0.162037,1,0.057067,NaN,3.0,NaN,NaN,5.0,9.0,0,7.0,2.0,1,0.181713,True,False,False
27,1,20.0,0.204960,1,0.181713,NaN,3.0,NaN,NaN,5.0,5.5,0,12.0,5.0,0,0.181713,False,True,False
28,1,45.0,0.196575,1,0.054190,NaN,3.0,NaN,NaN,4.0,5.5,1,4.0,1.0,0,0.181713,False,False,True
29,1,45.0,0.164615,1,0.019735,NaN,5.0,NaN,NaN,4.0,4.0,0,7.0,4.0,0,0.181713,False,True,False
30,0,33.0,0.240795,1,0.057067,NaN,3.0,NaN,NaN,2.0,4.0,0,0.0,4.0,1,0.181713,False,False,True
31,1,58.0,0.164615,1,0.181713,NaN,5.0,NaN,NaN,1.0,4.0,1,11.0,3.0,0,0.181713,False,True,False
32,0,18.0,0.212892,1,0.181713,NaN,1.0,NaN,NaN,3.0,4.0,1,3.0,4.0,0,0.181713,False,True,False
33,1,45.0,0.165065,1,0.048831,NaN,3.0,NaN,NaN,2.0,7.5,0,0.0,4.0,1,0.181713,True,False,False
34,1,19.0,0.273490,0,0.181713,4.0,NaN,5.58,4.0,NaN,5.5,1,11.0,5.0,0,0.181713,False,True,False
35,1,52.0,0.123523,1,0.044335,NaN,3.0,NaN,NaN,3.0,9.0,1,11.0,4.0,0,0.181713,False,False,True
36,0,51.0,0.159742,1,0.061385,NaN,4.0,NaN,NaN,1.0,5.5,1,0.0,2.0,0,0.181713,False,False,True
37,1,48.0,0.232440,1,0.028269,NaN,1.0,NaN,NaN,3.0,4.0,1,4.0,2.0,0,0.181713,False,True,False
38,1,25.0,0.148106,0,0.181713,5.0,NaN,7.94,3.0,NaN,7.5,1,6.0,4.0,0,0.181713,False,False,True
39,0,51.0,0.148106,1,0.074541,NaN,4.0,NaN,NaN,1.0,7.5,1,7.0,2.0,1,0.181713,False,True,False
40,0,34.0,0.240795,0,0.181713,2.0,NaN,9.04,3.0,NaN,4.0,0,4.0,2.0,0,0.181713,True,False,False
41,0,46.0,0.178302,1,0.044335,NaN,1.0,NaN,NaN,2.0,5.5,1,4.0,1.0,0,0.181713,False,False,True
42,1,49.0,0.200743,1,0.057067,NaN,4.0,NaN,NaN,4.0,5.5,0,6.0,4.0,0,0.181713,False,False,True
43,1,28.0,0.165065,0,0.181713,4.0,NaN,9.60,5.0,NaN,7.5,1,10.0,5.0,0,0.181713,False,False,True
44,0,47.0,0.199905,1,0.054190,NaN,1.0,NaN,NaN,1.0,7.5,1,0.0,2.0,1,0.181713,False,True,False
45,0,18.0,0.137131,1,0.181713,NaN,5.0,NaN,NaN,4.0,9.0,0,9.0,2.0,1,0.181713,False,False,True
46,0,59.0,0.199905,1,0.051546,NaN,5.0,NaN,NaN,4.0,9.0,1,8.0,5.0,1,0.181713,False,False,True
47,0,39.0,0.216826,1,0.098158,NaN,3.0,NaN,NaN,5.0,9.0,1,6.0,2.0,1,0.181713,True,False,False
48,1,49.0,0.200743,1,0.047557,NaN,5.0,NaN,NaN,5.0,4.0,1,7.0,2.0,1,0.181713,False,False,True
49,0,50.0,0.204960,1,0.028269,NaN,1.0,NaN,NaN,4.0,4.0,0,10.0,3.0,0,0.181713,False,True,False